{% extends "layout.html" %}
{% block content %}
    <h1 style="padding: 1em 1em; text-align: center;">Luo uusi tehtävä</h1>
    <form action="/newexercise" method="POST" style="font-size: 20px;">
        <div class="row">
            <div class="form-group col-lg-4">
                <label>Otsikko</label>
                <input class="form-control" type="text" name="heading">
                <small class="form-text text-danger">{{ headingError }}</small>
            </div>
        </div>
        <div class="form-group">
            <label>Tehtävänanto</label>
            <p>
            <textarea class="form-control" rows="10" cols="50" name="description" style="width: 50%;"></textarea>
            <small class="form-text text-danger">{{ descriptionError }}</small>
        </div>
        <div class="row">
            <div class="form-group col-lg-2">
                <label>Aihealue</label>
                <input class="form-control" type="text" name="topic">
                <small class="form-text text-danger">{{ topicError }}</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2">
                <label>Järjestys</label>
                <input class="form-control" type="text" name="order">
                <small class="form-text text-danger">{{ orderError }}</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-2">
                <label>Syötteen koko</label>
                <input class="form-control" type="text" name="input_size">
                <small class="form-text text-danger">{{ inputError }}</small>
            </div>
        </div>
        <button type="submit" class="btn" style="background-color: #757575; border-color: #666666;">Lisää tehtävä</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <a class="btn btn-light my-2 my-sm-0" href="/exerciselist" role="button" style="background-color: #757575; border-color: #666666;">
        Peruuta
        </a>
    </form>
{% endblock %}
