{% extends "layout.html" %}
{% block content %}
    <div class="exercises">
        <h1>Tehtävät</h1>
        <p>Laskutoimitukset</p>
        <p><a href="/exercise1">Luvun lisääminen</a></p>
        <p><a href="/exercise2">Luvulla kertominen</a></p>
        <p><a href="/exercise3">Summa</a></p>
        <p><a href="/exercise4">Erotus</a></p>
        <p><a href="/exercise5">Ensimmäinen polynomi</a></p>
        <p><a href="/exercise6">Kertolasku</a></p>
        <p><a href="/exercise7">Toinen polynomi</a></p>
        <p><a href="/exercise8">Vertailu</a></p>
        <p><a href="/exercise9">Erisuuruus</a></p>
        <p><a href="/exercise10">Kokonaislukujen jakolasku</a></p>
    </div>
{% endblock %}
