{% extends "layout.html" %}
{% block content %}
    <h1 style="padding: 1em 1em; text-align: center;">Tehtävät</h1>
    <div class="row">
        <div class="col-6">
            <h3>1. Laskutoimitukset</h3>
            <ul id="sortable" class="list-group">
                {% for exercise in topic1 %}
                 <li class="list-group-item" style="font-size: 20px;">
                    <a href="/exercise/{{ exercise[0] }}" style="color: #ffa200;"> {{ exercise[1] }} </a>
                    <span>{% if exercise[2] %} ☑ {% endif %}</span>
                 </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h3>2. Yksinkertaisia algoritmeja</h3>
            <ul id="sortable" class="list-group">
                {% for exercise in topic2 %}
                <li class="list-group-item" style="font-size: 20px;">
                    <a href="/exercise/{{ exercise[0] }}" style="color: #ffa200;"> {{ exercise[1] }} </a>
                    <span>{% if exercise[2] %} ☑ {% endif %}</span>
                </li>
                {% endfor %}
                {% if admin %}
                    <a class="btn my-2 my-sm-0" href="/newexercise" role="button" style="background-color: #757575; border-color: #666666;">
                    Uusi tehtävä
                    </a>
                {% endif %}
            </ul>
            
        </div>
    </div>
{% endblock %}
