{% extends "layout.html" %}
{% block content %}
    <h1>{{ heading }}</h1>
    <div class="menu">
        <a href="/exerciselist">Tehtävälista</a>
        <a href="/exercise/{{ id }}">Takaisin tehtävään</a>
        {% if session.username %}
        <a href="/submissions/{{ id }}">Omat lähetykset</a>
        {% endif %}
        {% if solved %}
        <a href="/comments/{{ id }}/normal">Kommentit</a>
        {% endif %}
    </div>
    <div class="container">
        <h3>Omat lähetykset</h3>
        {% for submission in submissions %}
        <p>{{ submission[1].strftime("%Y-%m-%d %H:%M:%S") }}</p>
        <p>{{ submission[2] }}</p>
        <p style="white-space: pre-wrap">{{ submission[0] }}</p>
        <br>
        {% endfor %}
    </div>
{% endblock %}
