{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>Tehtävät</h1>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <strong><nav>
                        <ul class="menu">
                            <li><a href="/exercises">Ohjeet</a></li>
                            <li><a href="/exercise1">Tehtava 1</a></li>
                            <li><a href="/exercise2">Tehtava 2</a></li>
                            <li><a href="/exercise3">Tehtava 3</a></li>
                        </ul>
                    </nav></strong>
                </div>
                <div class="col-8">
                    <h2>Tehtävä 2</h2>
                    <p>
                        Nyan nyan nyaaaa.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
