{% extends "layout.html" %}
{% block content %}
    <div class="home text-center">
        <p class="lead">
        Oletko kyllästynyt monimutkaisiin ohjelmointikieliin? Saatko jatkuvasti googlettaa vastauksia yksinkertaisiin kysymyksiin kielen syntaksista? Menevätkö sisennykset sekaisin ja kaksoispisteet vääriin paikkoihin?
        </p>
        <p class="lead">Älä murehdi enää, meillä on ratkaisu ongelmiisi. (Lisätään kuva tähän myöhemmin.)</p>
        <br>
        <h3 class="text-center">WHILE-ohjelmointikieli</h3>
        <p>
        Näillä sivuilla voit tutustua WHILE-ohjelmointikieleen ratkaisemalla yksinkertaisia ohjelmointiongelmia WHILE-kielellä. 
        Sivulla <a href="/basics">Mikä ihmeen WHILE-ohjelmointi?</a> kerrotaan WHILE-kielen perusteet ja hieman kielen historiasta. Kun olet tehnyt käyttäjätunnuksen, pääset tekemään tehtäviä sivulla <a href="/exercises">Tehtävät</a>. 
        </p>
        <p>Hauskaa ohjelmointia!</p>
    </div>
{% endblock %}
