{% extends "layout.html" %}
{% block content %}
    <div>
        <p class="text-center" style="font-size: 22px; margin-bottom: -20px; margin-top: 5px;">
        Oletko kyllästynyt monimutkaisiin ohjelmointikieliin? Saatko jatkuvasti googlettaa vastauksia yksinkertaisiin kysymyksiin kielen syntaksista? Menevätkö sisennykset sekaisin ja kaksoispisteet vääriin paikkoihin?
        <br>
        Älä murehdi enää, meillä on ratkaisu ongelmiisi!
        </p>
        <img src="static/pupumissewhile.png" alt="WHILE-ohjelmointi" style="display: block; margin-left: auto; margin-right: auto; width: 60%;"> 
        <p style="font-size: 20px;">
        Näillä sivuilla voit tutustua WHILE-ohjelmointikieleen ratkaisemalla yksinkertaisia ohjelmointiongelmia WHILE-ohjelmilla. 
        Sivulla <a href="/basics" style="color: #666666;">Mikä ihmeen WHILE-ohjelmointi?</a> kerrotaan, mikä WHILE-kieli oikein on ja hieman kielen historiasta. Kun olet tehnyt käyttäjätunnuksen, pääset ratkaisemaan tehtäviä. <a href="/instructions" style="color: #666666;">Ohjeet</a>-sivuilla kerrotaan, miten oman ratkaisunsa voi palauttaa sovellukseen. 
        <br><br>
        Sovellus on tehty harjoitustyönä Helsingin yliopiston Tietokantasovellus-kurssille. Projektin GitHub sivu löytyy täältä: <a href="https://github.com/pinjaw/while" style="color: #666666;">Johdatus WHILE-ohjelmointiin</a>. Samaan osoitteeseen voi laittaa viestiä, jos epäilet, että sovellus ei toimi oikein.
        </p>
        <p class="text-center" style="font-size: 20px;">Hauskaa ohjelmointia!</p>
    </div>
{% endblock %}
