{% extends "layout.html" %}
{% block content %}
    <div>
        <p class="lead text-center" style="padding: 2em 1em;">
        Oletko kyllästynyt monimutkaisiin ohjelmointikieliin? Saatko jatkuvasti googlettaa vastauksia yksinkertaisiin kysymyksiin kielen syntaksista? Menevätkö sisennykset sekaisin ja kaksoispisteet vääriin paikkoihin?
        <br>
        Älä murehdi enää, meillä on ratkaisu ongelmiisi!
        </p>
        <h1 style="text-align: center;">WHILE-ohjelmointikieli</h1>
        <p style="font-size: 20px;">
        Näillä sivuilla voit tutustua WHILE-ohjelmointikieleen ratkaisemalla yksinkertaisia ohjelmointiongelmia WHILE-ohjelmilla. 
        Sivulla <a href="/basics" style="color: #666666;">Mikä ihmeen WHILE-ohjelmointi?</a> kerrotaan, mikä WHILE-kieli oikein on ja hieman kielen historiasta. Kun olet tehnyt käyttäjätunnuksen, pääset ratkaisemaan tehtäviä. Sovellus on tehty harjoitustyönä Helsingin yliopiston Tietokantasovellus-kurssille. 
        </p>
        <p class="text-center" style="font-size: 20px;">Hauskaa ohjelmointia!</p>
    </div>
{% endblock %}
