<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
    
    <body>
        <title>Johdatus WHILE-ohjelmointiin</title>
        <header>
            <div class="container">
                <h1 class="logo">Johdatus WHILE-ohjelmointiin</h1>
                <nav class="navbar navbar-expand-sm navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Etusivu</a></li>
                        <li class="nav-item"><a class="nav-link" href="/basics">Mikä ihmeen WHILE-ohjelmointi?</a></li>
                        
                        <div class="dropdown">
                            <button class="dropbtn">Tehtävät</button>
                            <div class="dropdown-content">
                            <a href="/instructions">Ohjeet</a>
                            <a href="/exercises">Tehtävälista</a>
                            </div>
                        </div>
                        
                        {% if session.username %}
                        <li class="nav-item"><a href="/profile/{{ session.username }}">{{ session.username }}</a>
                        <li class="nav-item"><a class="button" href="/logout">Kirjaudu ulos</a></li>
                        {% else %}
                        <li class="nav-item"><a class="button" href="/signin">Luo käyttäjätunnus</a></li>
                        <li class="nav-item"><a class="button" href="/login">Kirjaudu sisään</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
