{% extends "layout.html" %}
{% block content %}
<div style="height: 300px;
    width: 400px; position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;">
    <h2>Kirjaudu sisään</h2>
    <form action="/login" method="POST">
        <div class="row">
            <div class="form-group col-lg-10">
                <label style="font-size: 20px;">Käyttäjätunnus</label>
                <input class="form-control" type="text" name="username">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-10">
                <label style="font-size: 20px;">Salasana</label>
                <input class="form-control" type="password" name="password">
                <small class="form-text text-danger">{{ error }}</small>
            </div>
        </div>
        <button type="submit" class="btn" style="background-color: #666666; border-color: #666666;">Kirjaudu sisään</button>
    </form>
</div>
{% endblock %}
