{% extends "layout.html" %}
{% block content %}
    <h1 style="padding: 1em 1em; text-align: center;">Muokkaa profiilia {{ username }}</h1>
    <form action="/modifyprofile/{{ username }}" method="POST" style="font-size: 20px; padding-top: 10px;">
        <div class="form-group">
            <label>Kerro itsestäsi muille</label>
            <p>
            <textarea class="form-control" rows="5" cols="50" maxlength="5000" name="introduction" style="font-size: 20px; width: 50%;">{{ current_introduction }}</textarea>
            <small class="form-text text-danger">{{ introductionError }}</small>
        </div>
        <button type="submit" class="btn" style="background-color: #757575; border-color: #666666;">Päivitä profiilia</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <a class="btn my-2 my-sm-0" href="/profile/{{ username }}" role="button" style="background-color: #757575; border-color: #666666;">
        Peruuta
        </a>
    </form>
{% endblock %}
