{% extends "layout.html" %}
{% block content %}
    <h1>Luo uusi tehtävä</h1>
    <form action="/newexercise" method="POST">
        <div class="form-group">
            <label>Otsikko</label>
            <input class="form-control" type="text" name="heading">
            <small class="form-text text-danger">{{ headingError }}</small>
        </div>
        <div class="form-group">
            <label>Tehtävänanto</label>
            <p>
            <textarea rows="10" cols="50" name="description"></textarea>
            <small class="form-text text-danger">{{ descriptionError }}</small>
        </div>
        <div class="form-group">
            <label>Topic</label>
            <input class="form-control" type="text" name="topic">
            <small class="form-text text-danger">{{ topicError }}</small>
        </div>
        <div class="form-group">
            <label>Testit</label>
            <p>
            <textarea rows="5" cols="50" name="tests"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lisää tehtävä</button>
    </form>
{% endblock %}
