{% extends "layout.html" %}
{% block content %}
    <h1 style="padding: 1em 1em; text-align: center;">{{ username }}</h1>
    <div style="font-size: 20px;">
        <label><b>Esittely</b></label>
        <p style="white-space: pre-line;">{{ introduction }}</p>
        <label><b>Liittynyt:</b></label>
        <p>{{ joined.strftime("%d.%m.%Y") }}</p>
        {% if session.username and session.username == username %}
            <a href="/modifyprofile/{{ username }}" style="background-color: #ebebeb; color: black; padding: 5px; border-radius: .2em;">
            Muokkaa profiilia
            </a>
        {% endif %}
    </div>
    <hr class="rounded">
    <div class="col-md-9 mx-auto" style="font-size: 20px; margin-top: 50px;">
        <table style="border: 1px solid black; border-collapse: collapse; background-color: #ebebeb;">
            <tr>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 20px; padding: 15px;">
                Laskutoimitukset
                </th>
                {% for solved in topic1 %}
                <td style="border: 1px solid black; border-collapse: collapse; font-size: 20px; padding: 15px;">
                {% if solved[2] %}
                ☒
                {% else %}
                ☐
                {% endif %}
                </td>
                {% endfor %}
            </tr>
            
            <tr>
                <th style="border: 1px solid black; border-collapse: collapse; font-size: 20px; padding: 15px;">
                Yksinkertaisia algoritmeja
                </th>
                {% for solved in topic2 %}
                <td style="border: 1px solid black; border-collapse: collapse; font-size: 20px; padding: 15px;">
                {% if solved[2] %}
                ☒
                {% else %}
                ☐
                {% endif %}
                </td>
                {% endfor %}
            </tr>
            
        </table>
    </div>
{% endblock %}
